body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0b0b;
    color: white;
    text-align: center;
    transition: background 0.5s;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #001f3f, #0074D9);
    padding: 70px 20px;
}

.hero h1 {
    font-size: 60px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin: 10px 0 25px;
    letter-spacing: 2px;
}

/* BUTTON */
.power-btn {
    padding: 14px 35px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #ff4136;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.power-btn:hover {
    background: #ff851b;
    transform: scale(1.1);
}

/* SECTIONS */
section {
    padding: 50px 20px;
}

.about p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}

/* POWERS */
.powers ul {
    list-style: none;
    padding: 0;
}

.powers li {
    font-size: 18px;
    margin: 12px 0;
}

/* IMAGE */
.image img {
    width: 320px;
    border-radius: 12px;
    border: 3px solid #00aaff;
    box-shadow: 0 0 20px #00aaff;
}

.note {
    font-size: 12px;
    opacity: 0.7;
}

/* FOOTER */
footer {
    background: #000;
    padding: 15px;
    font-size: 14px;
}
